<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p> <a href="https://ahmedahmed.vercel.app"> Here is a link to my website with all my contact information</a> </p>
<%- include("partials/footer"); -%>
